/target
Cargo.lock
/desktop/SCPH1001.BIN
/desktop/MemoryTransfer16BPP.bin
/desktop/*.bin
/desktop/*.BIN
/desktop/*.exe
/desktop/*.txt
/desktop/target
/.idea
/.vscode
*.log
*.elf
.gdb_history
/desktop/build.out
/desktop/*.data
/desktop/*.old
/desktop/*.svg
/desktop/*.gz
/desktop/tests